@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hero{
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    height: 90vh;
    width: 90vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero_all{
    /* background-color: #1b1b1b; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.295),rgba(0, 0, 0, 0.295)),url(assets/background.png);
    display: flex;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero_img{
    border-radius: 50%;
    background-position: center;
    background-color: #fff;

}

.hero span{
    font-family: 'Press Start 2P', cursive;
    color: #e92604;
}

.hero h1{
    margin: 0;

}

