.carrito_contenedor{
    /* background-color: #fff; */
    display: flex;
    /* border: 1px solid #818181; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    font-size: 1.5rem;
    /* width: 15rem; */
    padding: 0.5rem;
    color: #FF1053;

}


.img_carrito{
    width: 3rem;
    padding: 1rem;
    cursor: pointer;

}