
.card{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 2rem;
    height: 25rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .10);
    display: flex;
    color: #333;
    background-color: #fff;
    font-weight: bold;
}

.card_info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card_info a{
    text-decoration: none;

    color: #e92604;
}

.card img{
    width: 100%;
    height: 15rem;
}