.form_Checkout{
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    /* padding: 15rem; */
}

.form_Checkout input{
    width: 20rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e92604;
    padding: 20px 50px 20px 50px;
    margin: 2rem;
    color: #fff;
}

.title_checkout{
    color: #fff;
}

.form_Checkout button{
    padding: 20px 50px 20px 50px;
    background-color: #e92604;
    color: #fff;
    border: none;
    border-radius: 12px;
}