.divCount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rema; */
    /* border-radius: 15px; */
}

.divCount button{
    background:none;
    border: none;
    color: #e92604;
    cursor: pointer;
    font-size: 2rem;
}

