.divCount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rema; */
    /* border-radius: 15px; */
}

.buttons_count {
    background:none;
    border: none;
    color: #e92604;
    cursor: pointer;
    font-size: 2rem;
}


.buttton_countAdd{
    background-color: #e92604;
    color: #fff;
    padding: 20px 50px 20px 50px;
    border: none;
}