@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}

.nav_all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border-bottom: 2px solid rgb(75, 75, 75); */
}

.Logo p{
    font-weight: 500;
    padding: .5rem;
    font-size: 1.5rem;
}

.Logo span{
    color: #FF1053;
}

.lista_navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton_nav{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 2rem;
    color: #242424;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer;
}

.lista_navegacion .boton_nav:hover{
    /* transition: all 1s ; */
    border-bottom: 1px solid #555555;
    color: #FF1053;

}


